li{
    color:green
}
#Retard{
    color:aqua
}
#re-list{
    color:purple
}
#your-mom{
    color:rgb(0, 0, 0)
}
*{
    text-align: center;
}
body{
background-color: bisque;
}
/*hardway of css*/